.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.link:link {
    color: var(--link-color);
}

.link--primary:link {
    color: var(--primary-brand-color);
}

.link:visited {
    color: var(--link-visited-color);
}

.link--primary:visited {
    color: var(--primary-brand-color);
}

/*
Text Field Component
*/


/*
Button
*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    padding: 15px 10px;
    margin: 20px 0;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
}

.button--large {
    width: 100%;
    font-size: 1.6rem;
}

.button--blue {
    color: var(--blue);
    border-color: var(--blue);
}

.button--red {
    color: var(--red);
    border-color: var(--red);
}

/*
Icons
*/

.icon {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon--twitter {
    background-image: url('../icons/twitter_icon.svg');
}

.icon--google {
    background-image: url('../icons/google_icon.svg');
}

.thematic-break {
    border: none;
    border-top: 1px solid var(--dark-color);
}

/*
Flex
*/

.flex {
    display: flex;
    align-items: center;
}

.flex--align-center {
    align-items: center;
}

.flex--space-between {
    justify-content: space-between;
}