.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.link:link {
    color: var(--link-color);
}

.link:visited {
    color: var(--link-visited-color);
}

/*
Text Field Component
*/

.text-field {
    position: relative;
    margin: 20px 0;
    font-size: 14px;
    height: 60px;
}

.text-field__label {
    position: absolute;
    top: 5px;
    left: 10px;
}

.text-field__input {
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    height: 100%;
    outline: none;
    font-size: 18px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    color: var(--input-color);
}

.text-field__input:focus {
    border-color: var(--input-focus-border-color);
    border-width: 2px;
}

.text-field:invalid {
    border-color: red;
}

.text-field__input:focus + .text-field__label {
    color: var(--label-focus-color);
}

.checkbox {
    margin: 20px 0;
    font-size: 20px;
}

/*
Form
*/

.form {
    max-width: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--medium-shadow);
}

.centered-text {
    text-align: center;
}

/*
Button
*/

.button {
    appearance: none;
    padding: 15px 10px;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
}

.button--large {
    width: 100%;
    font-size: 1.6rem;
}