.carousel {
    display: flex;
    margin: 20px -20px;
    overflow-x: auto;
    background-color: var(--light-color);
    filter: brightness(0.95);
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-brand-color) transparent;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-brand-color);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
  
  .carousel__container {
    display: flex;
  }
  
  .carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    padding: 30px 10px;
    overflow: hidden;
  }