/*
Form Style
*/

.text-field {
    position: relative;
    display: flex;
    margin: 20px 0;
    font-size: 14px;
    height: 60px;
}

.text-field--no-label {
    height: 50px;
}

.text-field__label {
    position: absolute;
    top: 5px;
    left: 10px;
}

.text-field__input {
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    height: 100%;
    outline: none;
    font-size: 18px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    color: var(--input-color);
}

.text-field__trailing-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-brand-color);
    color: var(--light-color);
    border-radius: 0 8px 8px 0;
}

.text-field--no-label .text-field__input {
    padding: 10px;
}

.text-field__input:focus {
    border-color: var(--input-focus-border-color);
    border-width: 2px;
}

.text-field:invalid {
    border-color: red;
}

.text-field__input:focus + .text-field__label {
    color: var(--label-focus-color);
}

.checkbox {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.checkbox__input {
    position: relative;
    appearance: none;
    width: 1em;
    height: 1em;
    margin-left: 5px;
    color: var(--primary-brand-color);
}

.checkbox__input::before {
    content: "check_box";
    position: absolute;
    right: 0;
    top: 0;
}

.checkbox__input:checked::before {
    content: "check_box_outline_blank";
}

/*
Form
*/

.form {
    max-width: 490px;
    margin: 20px auto;
    background-color: white;
    padding: 30px 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--medium-shadow);
}

.centered-text {
    text-align: center;
}
