.link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.link,
.link:link {
    color: var(--link-color);
}

.link--primary:link {
    color: var(--primary-brand-color);
}

.link:visited {
    color: var(--link-visited-color);
}

.link--primary:visited {
    color: var(--primary-brand-color);
}

.link--menu {
    background-color: var(--dark-color);
}

.link--menu:hover {
    background-color: #575251;
}