.overflow-vertical {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
  }
  
  .overflow-vertical::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
  }
  
  .overflow-vertical::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
  }
  
  .overflow-vertical::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .material-icons--rounded {
    background: var(--secondary-color);
    border-radius: 50%;
    padding: 5px;
    color: var(--dark-color);
  }